# see https://stackoverflow.com/a/69198892/11028838
Options -Indexes
DirectorySlash Off

RewriteEngine On

RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

RewriteRule !^index\.php$ index.php [L]